.nav-tabs {
    align-content: center; 
    justify-content: center;
}

.nav-item {
    color: black;
}

.nav-item.nav-link.active {
    background-color: #c70000;
    color: white;
}

.nav-link:hover {
    color: #c70000;
}

.announcement-item {
    padding: 5px;
    margin: 3px 15px 3px 15px;
}

.announcement-item .title {
    padding: 7px;
    font-weight: bold;
}

.datePosted {
    padding: 5px;
    color: gray;
    font-size: small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.announcement-form {
    margin: 20px 80px 20px 80px;
    text-align: left;
    font-size: medium;
}

.dropdown-item, .dropdown-item:focus {
    background-color: rgb(255, 253, 250);
}

.dropdown span {
    margin: 0px;
    padding: 3px;
    color: black;
    font-size: small;
}

.form-control {
    font-size: medium;
}

label.form-label {
    font-weight: bold;
}

h5 {
    font-weight: bold;
    font-size: large;
    color: #c70000;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal-content {
    font-size: medium;
}

.modal-title {
    font-weight: bold;
    font-size: large;
}

.modal-footer {
    margin: 0%;
    padding: 5px;
}
